//extends ../templates/layout
//
//block content
//    .ventas
//        .clientes-dropdown
//            form(action="/autor/pais", method="POST")
//                label(for="pais-select") Seleccionar Pais:
//                select#vehiculo-select(name="pais")
//                    each autor in autor
//                        if autor.id_autor === autor.id_autor
//                            option(value=autor.id_autor selected)= autor.pais
//                        else
//                            option(value=autor.id_autor)= autor.pais
//                button(type="submit") Buscar
//        each autor in autor
//            .venta-cc
//                .venta-info
//                    p=autor.id_autor
//                    p=autor.nombre
//                    p=autor.pais
//
//                    .autor-btn
//                        a.btn.btn-warning.btn-sm(href=`/autor/edit/${autor.id_autor}`) Editar
//                        span.mx-2
//                        a.btn.btn-danger.btn-sm(href=`/autor/del/${autor.id_autor}`) Eliminar
//                
//    script.
//        document.querySelector('form').addEventListener('submit', function (e) {
//            const autorID = document.getElementById('autor-select').value;
//            if (autorID) {
//                this.action = `/autor/pais/${autorID}`;
//            }
//        });